- content_for(:page_title) do
  %h1 Hey There!

%div.lander
  %h2 Welcome to Where-Coffee
  %p Select your state below to see a curated list of shops
  %p= fa_icon "cogs", text: "= Machine used"
  %p= fa_icon "leaf", text: "= Who roasts the coffee"
  %p= fa_icon "street-view", text: "= City/State"
  %p= fa_icon "money", text: "= Average price-per-cup(PPC)"
  %p= fa_icon "clock-o", text: "= Last time the shop was updated"
  %p= fa_icon "flask", text: "= Offers By the Cup"
  %p= fa_icon "coffee", text: "= Offers batch-brew (fetco, bunn, etc)"
  %p If you would like to be an admin, make note on your sign-up form and we'll see what we can do!
