%div.spacer
  %p
%div.lander
  %h2 Welcome to Where-Coffee
  %p= fa_icon "cogs", text: "| Machine used"
  %p= fa_icon "leaf", text: "| Who roasts the coffee"
  %p= fa_icon "street-view", text: "| City/State"
  %p= fa_icon "money", text: "| Average price"
  %p= fa_icon "clock-o", text: "| Last updated"
  %p= fa_icon "flask", text: "| By the Cup"
  %p= fa_icon "coffee", text: "| Batch-brew"
  %p= fa_icon "plus-square", text: "| Multi-roaster"
  %p Let us know if you'd like us to add a shop!
