- content_for(:page_title) do
  %h1 Shops

%section.shops
  - @shops.each do |shop|
    %div.shop
      -if shop.image.length == 0
        %img{:src => "https://s3.amazonaws.com/nss-c8-test-bucket/hannchewie.png"}
      -else
        %img{:src => shop.image}
      %h2
        %a{:href => "https://www.google.com/#q=#{shop.name}+#{shop.city}", :target => "_blank"}=shop.name
      %p= fa_icon "cogs", text:"#{shop.machine}"
      %p= fa_icon "leaf", text:"#{shop.roaster}"
      %p= fa_icon "street-view", text:"#{shop.city}, #{shop.state}"
      %p= fa_icon "money", text:"#{shop.ppc}"
      %p= fa_icon "clock-o", text:"#{time_ago_in_words(shop.updated_at)} ago"
      -if current_user.present? and current_user.admin
        =link_to "Edit", edit_shop_path(shop)
