- content_for(:page_title) do
  %h1 Sign Up
%div.form_box
  = simple_form_for @user, url: users_path do |f|
    = f.input :name
    = f.input :email
    = f.input :about, text: "Bio"
    = f.input :job, text: "Job"
    = f.input :photo, label: "Upload a pic!"
    = f.input :password
    = f.input :password_confirmation
    = f.button :submit, "Create Account"
