!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Where's the Coffee?!
    = stylesheet_link_tag     'application', media: 'all'
    = javascript_include_tag  'application'
    = csrf_meta_tags
    <link href='http://fonts.googleapis.com/css?family=Lato:400,900,400italic' rel='stylesheet' type='text/css'>
  %body
    #container
      %h1.headline Where-Coffee
      %button.main_button.js-menu-trigger.sliding-panel-button{:type => "button"}Menu
      %nav.js-menu.sliding-panel-content
        %ul
          %li= link_to "Home", root_path
          %li= link_to "Team", users_path
          %li
            %a#location Nearby
          - if !logged_in?
            %li.right= link_to "Sign Up", new_user_path
            %li.right= link_to "Sign In", new_user_session_path
          - else
            - if current_user.admin
              %li= link_to "Add", new_shop_path
          %li
            =form_for root_path, :method => :get do |f|
              =f.select :state, options_for_select(states), :onchange => "this.form.submit();"
              =f.submit "Filter By State", :class => "nav_button"
          - if logged_in?
            %li.right= link_to "Sign Out", user_session_path, method: :delete
          %li
            %p= link_to "Help", help_path
            %ul
              %li= fa_icon "cogs", text: "| Machine used"
              %li= fa_icon "leaf", text: "| Who roasts the coffee"
              %li= fa_icon "street-view", text: "| City/State"
              %li= fa_icon "money", text: "| Average price"
              %li= fa_icon "clock-o", text: "| Last updated"
              %li= fa_icon "flask", text: "| By the Cup"
              %li= fa_icon "coffee", text: "| Batch-brew"
              %li= fa_icon "plus-square", text: "| Multi-roaster"

      .js-menu-screen.sliding-panel-fade-screen
      %section#content
        - flash.each do |key, message|
          %div{ class: "flash-#{key}" }= message
        %section= yield
