!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Where's the Coffee?!
    = stylesheet_link_tag     'application', media: 'all'
    = javascript_include_tag  'application'
    = csrf_meta_tags
    <link href='http://fonts.googleapis.com/css?family=Lato:400,900,400italic' rel='stylesheet' type='text/css'>
  %body
    #container
      %nav
        %ul
          %li= link_to "Home", root_path
          %li= link_to "Legend", help_path
          - if !logged_in?
            %li.right= link_to "Sign Up", new_user_path
            %li.right= link_to "Sign In", new_user_session_path
          - else
            - if current_user.admin
              %li= link_to "Add", new_shop_path
          %li
            =form_for root_path, :method => :get do |f|
              =f.submit "Filter By State:", :class => "nav_button"
              =f.select :state, options_for_select(states), :onchange => "this.form.submit();"
          - if logged_in?
            %li.right= link_to "Sign Out", user_session_path, method: :delete
    %section#content
      - flash.each do |key, message|
        %div{ class: "flash-#{key}" }= message
      %section= yield
  %footer
    %p Where Coffee
    = link_to "Help", help_path
    = link_to "Home", root_path
